 body {
     font-family: Poppins;
 }

 .container {
     border: 1px solid lightgray;
     width: 900px;
     margin: auto;
     padding: 20px;
 }

 .judul {
     text-align: center;
 }

 .tabel {
     width: 100%;
 }